;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[org.omcljs/om "1.0.0-beta4"]
  [sablono "0.7.5"]]
;  []

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main ;; <- becomes public/js/main.js
         {:entries [starter.browser]}}

        ;; start a development http server on http://localhost:8020
        :devtools
        {:http-root "public"
         :http-port 8020}
        }}}
